/* eb-garamond-regular */
@font-face {
	font-family: EB Garamond;
	font-style: normal;
	font-weight: 400;
	src: local("EB Garamond Regular"), local("EBGaramond-Regular"), url(eb-garamond-regular.woff2) format("woff2");
}
/* eb-garamond-italic */
@font-face {
	font-family: EB Garamond;
	font-style: italic;
	font-weight: 400;
	src: local("EB Garamond Italic"), local("EBGaramond-Italic"), url(eb-garamond-italic.woff2) format("woff2");
}

